table, th, td {
    border: 1px solid darkblue;
}

.board {
    table-layout: fixed;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.square {
    width: 20%;
    height: 100px;
    overflow: hidden;
    text-align:center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10;
    width: 40%;
}